.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.main {
  font-family: 'Open Sans', sans-serif;
}
.header {
  background: #252525; 
  display: flex;
  flex-wrap: wrap;
  padding: 0 .5em;
}
.header__title {
  text-align: center;
}
h1 {
  font-size: 1.5em;
}
.header__link {
  color: #fff;
  text-decoration: none;
}
.header__title,
.header__menu {
  flex: 0 0 100%;
}
.header__menu {
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  margin: 0 0 10px;
}
.header__link--menu {
  padding: 5px 10px;
  background: #9a9a9a;
  display: block;
  text-align: center;
}
.header__menu-item {
  margin: 4px 0;
}
@media screen and (min-width: 768px) {
  .header__title,
  .header__menu {
    flex: 1;
    margin: auto;
  }
  .header__title {
    flex: 1;
    text-align: left;
  }
  .header__menu {
    flex-grow: 2;
    justify-content: flex-end;
  }
  .header__link--menu_last {
    margin: 0 0 0 10px;
  }
  .header__menu-item {
  margin: 0;
}

}
.row {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  display: flex;
}
.map {
  width: 75%;
  height: 400px;
}